@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  padding: 1.5rem;
}

main {
  background: #f1f5f2;
}

@media screen and (min-width: 900px) {
  .row {
    padding: 3rem;
  }
}
