
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .Heading{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 40px;

        h1{
            font-size: 20px;
            font-family: 'Cardo';
            font-style: normal;
            font-weight: 700;          
        }

        .Heading_icons{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 23px;
            gap: 15px;
        }
        
        
    }
    .text{
        width: 80%;
        font-size: 15px;
        flex-wrap: wrap;
        font-family: 'Rubik';
        text-align: center;
        
    }
}

.Slider{
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .data_container{
        display:flex;
        justify-content: center;
         align-items: center;
         flex-direction: column;
         padding: 1rem 0;
         text-align: center;

         .user-image{
            max-width: 350px;
         }
         
         h2{
            font-size: 1rem;
            padding: 1rem;
         }

         p{
            font-size: 12px;
         }
    }
}






  
// media queries

@media screen 
and (min-width:1200px) 
and (max-width:1600px){
    .Heading{
        flex-direction: row;
        gap: 0;

        h1{
            text-align: center;
            font-size: 30px;
        }
        .Heading_icons{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 20px;
        }
    }
    
}

