main{

    .cart{
        padding: 2rem 0;
        position: relative;

        .cart-heading{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            

            .cart-links{
                display: flex;
                gap: 20px;
                padding: 0.5rem 0;

                a{
                    text-decoration: none;
                }
            }
        }
        .cart-line{
            border: 1px solid #000;
            width: 25%;
        }
    }
}