main {
  .cart-check {
    // padding: 1rem 0;

    .checkout-details {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      .form-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 10px;

        form {
          display: flex;
          flex-direction: column;
          width: 100%;

          .checkbox {
            padding-top: 10px;

            input {
              margin-right: 8px;
            }
          }

          label {
            margin: 0.7rem 0;
            font-family: "Rubik";
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            color: #888888;
          }

          input {
            padding: 0.6rem 1rem;
            background: #f2f2f2;
            border: 0.5px solid #747474;
            border-radius: 5px;
          }

          input::placeholder {
            color: #888888;
            padding: 0.7rem;
            font-family: "Rubik";
            font-style: normal;
            font-weight: 400;
            font-size: 0.8rem;
          }

          input:focus {
            outline: none;
          }

          #location {
            display: flex;
            justify-content: space-between;
            gap: 18px;
            padding: 10px 0;
            width: 100%;

            label {
              text-align: center;
              padding: 5px 0;
            }
            input {
              padding: 0.6rem 1rem;
              width: 100%;
            }
          }
        }
      }
      .checkout-items {
        width: 100%;

        .checkout-section {
          .cart-line1 {
            border: 0.01px solid #cccaca;
            width: 100%;
            margin-top: 0.7rem;
          }
          .checkout_items {
            display: flex;
            justify-content: space-between;
            padding: 1.3rem 0;

            .items-details {
              display: flex;
              gap: 24px;

              img {
                max-width: 120px;
              }

              .item-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h2 {
                  font-family: "Rubik";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 1.3rem;
                  color: #292929;
                }

                p {
                  font-family: "Rubik";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 0.8rem;
                  color: #888888;

                  span {
                    color: #292929;
                  }
                }
              }
            }

            .items-functions {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              i {
                color: #888888;
                font-size: 2rem;
              }

              h2 {
                font-family: "Cardo";
                font-style: normal;
                font-weight: 400;
                font-size: 1.4rem;
                color: #292929;
              }
            }
          }
        }
      }
    }
    .checkout-foot-info {
      // padding: 1rem 0;

      .foot-checkout2 {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pay_button {
          background: #2f4333;
          color: #fff;
          padding: 12px 40px;
          border-radius: 3px;
          font-size: 1.1rem;
          font-weight: 500;
          cursor: pointer;
          border: none;
          font-family: "Rubik", sans-serif;
          text-decoration: none;
        }

        .checkout-details {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .text {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            p {
              font-size: 1rem;
              font-weight: 400;
              cursor: pointer;
              color: #888888;
              font-family: "Rubik", sans-serif;
            }

            .text-info-right {
              color: #292929;
            }
          }
        }
      }
    }
  }
}

// media queries for mobile

@media screen and (min-width: 350px) and (max-width: 1024px) {
  main {
    max-width: 100%;
    .cart-check {
      .cart-links {
        padding: 0 1.5rem;
        width: 100%;
      }
      .checkout-details {
        display: flex;
        flex-direction: column-reverse;
      }
      .foot-checkout2 {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;

        .pay_button {
          width: 100%;
          text-align: center;
        }

        .checkout-details {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          padding-bottom: 1.3rem;
        }
      }
    }
  }
}
