footer{
    max-width: 550px;
    width: 100%;
    color: #E9E9E9;
    position: relative;
}

.foot_1{
    background: url(../assets/PHOTO.png) no-repeat center center/cover;
}

.foot_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 0;
}

.foot_text h2{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 40px;
    padding: 1.4rem 0;
}

.foot_text p{
    font-size: 0.7rem;
    left: 200px;
    width: 60%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    align-self: center;
    line-height: 20px;
}
img{
    max-width: 100%;
}

.line{
    width: 210px;
    height: 210px;
    border: 1px solid #DADADA;
    border-radius: 50%;
    margin: 0 auto;
    padding: 17px;
}

.line_2{
    width: 150px;
    height: 150px;
    border: 1px solid #DADADA;
    border-radius: 50%;
    margin: 10px;   
}



.foot_2{
    background: #2F4333;
    margin: 0 auto;
}



.foot_2 .text h2{
    font-size: 1.1rem;
    font-family: 'Cardo';
font-style: normal;
font-weight: 700;
margin-bottom: 24px;
}
.foot_2 .mess{
    font-size: 0.8rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 24px;
}

.foot_2 .copyright{
    font-size: 0.68rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
}


.foot_line{
    border: 0.3px solid #E9E9E9;
    border-radius: 20px;
    padding: 1px 0;
    width: 100%;
    background: none;
    margin: 3rem 0;
}

.foot_links{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem; 
    margin-bottom: 25px;   
}
.text_2 p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem; 
    margin-bottom: 25px;
    width: 100%;
}
.foot_icons{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    font-style: normal;
    
}


// media query

@media screen 
and (min-width:1200px) 
and (max-width:1600px){
    footer{
        max-width: 100%;
    }
    .extra{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
    }
    .foot_text h2{
        font-size: 5rem;
        line-height: 100px;
        
    }
    .foot_text p{
        font-size: 0.9rem;
        line-height: 22px;
        width: 40%;
        padding: 4rem 0;
    }
    .line{
        width: 450px;
        height: 450px;
        margin: 0 auto;
        padding: 35px;
    }
    
    .line_2{
        width: 350px;
        height: 350px;
        margin: 10px;   
    }
    .foot_container{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .foot_2_content{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        gap:0;
        padding: 0 8rem;
    }
    .foot_2 .text{
        width: 85%;
    }
    .foot_2 .text h2{
        font-size: 1.9rem;
    }
    .foot_2 .mess{
        font-size: 1rem;
        line-height: 30px;
        width: 70%;
    }
    
    .foot_2 .copyright{
        font-size: 0.88rem;
    }
    .foot_line{
        margin: 0 3rem;
        width: 60%;
        transform: rotate(90deg);
    }
    .text_2 p {
        font-size: 0.9rem;
        line-height: 25px;
    }
    .foot_icons{
        gap: 22px;
        font-size: 26px;      
    }
}
