.main {
  background: #f1f5f2;
  padding-top: 10rem;
  position: relative;
  max-width: 500px;
  width:100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

.image {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.elipse {
  position: absolute;
  left: -90px;
  width: 200px;
}
.elipse7 {
  position: absolute;
  left: -80px;
  top: 80px;
  width: 145px;
}

main h1 {
  position: absolute;
}

.content button {
  padding: 10px 18px;
  border-radius: 3px;
  font-size: 0.85rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  background: #2f4333;
  color: #fff;
  font-family: "Rubik", sans-serif;
  margin-bottom: 50px;
}

.content-text {
  position: relative;
  width: 86%;
  padding-bottom: 12px;
  text-align: left;
}
.content-text h4 {
  text-align: center;
  font-size: 0.8rem;
  color: #292929;
  margin-bottom: 30px;
}

.content-text h2 {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: #703e2d;
  margin-bottom: 20px;
}

.content-text p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #292929;
}

.message p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 20px;
}

.message img {
  max-width: 300px;
}
