.main {
  background: #f1f5f2;
  position: relative;
  max-width: 500px;
  width:100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.main-content{
  padding:3rem 0;
  display: flex;
  flex-direction: column;
   justify-items: center;
    align-items: center;
}

.main-content h4{
  font-size: 1.1rem;
  color: #292929;
}

.elipse {
  position: absolute;
  left: -90px;
  width: 200px;
}
.elipse7 {
  position: absolute;
  left: -80px;
  top: 128px;
  width: 140px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 4rem 0;
}
.main-content button {
  padding: 15px 35px;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  background: #2f4333;
  color: #fff;
  font-family: "Rubik", sans-serif;
  margin-bottom: 50px;
}

.content-text {
  position: relative;
  padding-bottom: 12px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-text h4 {
  font-size: 0.8rem;
  color: #292929;
  margin-bottom: 30px;
}

.content-text h2 {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 50px;
  color: #703e2d;
  margin-bottom: 30px;
}

.content-text p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 25px;
  color: #292929;
}

.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0;;
}
.message p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 30px;
  
}

.message img {
  width: 350px;
  border-radius: 3px;
}

.content_2{
  min-width: 200px;
  width:100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: 1 1 0;
}

.content_2 h3{
font-family: 'Baskerville Old Face';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 40px;
text-align: center;
color: #2F4333;
}

table{
  border-collapse: collapse;
  margin: 50px 0;
}


td{
  width: 100%;
  border: 0.3px solid #2F4333;  
}

table td{
  padding:1rem;
  width: 100%;
  min-height:120px;
  display: block; 
}


.table h3{
  font-size: 0.9rem;
}

.table p{
  font-size: 0.7rem;
}

.content_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content_3 h2{
  font-size: 1rem;
}



@media screen and (max-width:768px) {

}