// large screen
nav{
    display:flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top:0;
    left:0;
    width:100%;
    padding: 1.5rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    color: #E9E9E9;
    text-decoration: none;  
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;  
    font-size: 17px; 

}
.navbar  li a:focus{
    text-decoration-line: underline; 
    font-weight: 600;    
}

// .navbar li a:hover{
//     color: aqua;
// }

.sales{
    border-radius: 100%;
    padding: 14px;
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    position: relative;;
}

.oval {
    width: 100px;
    height: 45px;
    border: 1px solid #E9E9E9;
    border-radius: 50%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.oval :focus{
    text-decoration: none;  
}


.mobile-display{
    display: none;
}

@media (max-width:768px){
    nav{
        .navbar{
            display: none;
        }

        .nav-link-mobile{
            position: fixed;
            display: block;
            list-style: none;
            background: #f1f5f2;
            top: 10%;
            right: 0px;
            width: 83%;
            height: 100vh;
            z-index: 1;
            box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
            transition: .3s ease-in-out;

        }
        
        ul li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:3rem 1rem;

        }
        
        .mobile-display{
            display: block;
            align-items: center;
        }

        .secondary_link {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        button{
            font-size: 20px;
            border: none;
            background: none;
            color: #292929;
        }
    }
    }
