.navbar{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: absolute;

        

        .nav_links{
                display: none;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;

                


                ul{
                    display: block;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    list-style: none;
                    text-align: center;

                        li a{
                                color: #E9E9E9;
                                text-decoration: none;  
                                font-family: 'Rubik';
                                font-style: normal;
                                font-weight: 400;   
                        }
                        li a:focus{
                                text-decoration-line: underline; 
                                font-weight: 600;    
                        }

                        .sales{
                                border-radius: 50%;
                                font-size: 18px;
                        }
                        .oval {
                                width: 100px;
                                height: 45px;
                                border: 1px solid #E9E9E9;
                                border-radius: 50%;
                               position: relative;
                               display: flex;
                               justify-content: center;
                               align-items: center;
                        }
                        .oval :focus{
                                text-decoration: none;  
                        }
                }
        }

        .secondary_link{
                display: flex;
                justify-content: center;
                align-items: center;  
                gap: 20px;

                .nav-links-mobile{
                        border: none;
                        background: none;

                }
                ul li {
                        text-align: center;
                }
                
        }
        .secondary_link svg{
                font-size: 30px;
                color: #E9E9E9;
        }
}


@media screen
 and (min-width:1024px)
and (max-width:1600px){
     .navbar{

        .nav-links-mobile{
                visibility: hidden;
                display: none;
        }
        .nav_links{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .secondary_link svg{
                        font-size: 30px;
                        color: #E9E9E9;
                }

                
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    list-style: none;

                        li a{
                                text-decoration: none; 
                                font-size: 17px;   
                        }

                        .sales{
                                border-radius: 100%;
                                padding: 14px;
                                margin: 10px;
                                font-weight: 400;
                                font-size: 20px;
                                position: relative;;
                        }
                        .oval {
                                width: 100px;
                                height: 45px;
                                border: 1px solid #E9E9E9;
                                border-radius: 50%;
                               position: relative;
                               display: flex;
                               justify-content: center;
                               align-items: center;
                        }
                }}
        }


     }