main{
    width: 100%;

    .sale-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 1rem;

    }
    .heading-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2{
        font-size: 1.45rem;
        color: #292929;
        font-family: 'Cardo';
        font-style: normal;
        font-weight: 700; 
        margin-bottom: 20px;
        }

        
    }

    .directions-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 25px;
    }
    .direction_icons{
        font-size: 35px; 
    }

    .container_card{
        width: 100%;
        
        
            .single_container{
                width: 100%;
                max-width: 500px;
                color: #292929; 
                padding-bottom: 40px;
                
                    .swiper-images{
                        overflow: hidden;
                    }

                    img{
                        max-width: 100%;
                        transition: .5s all ease;
                    }

                    .swiper-images img:hover{
                      transform: scale(1.5);
                    }

                    

                    h3{
                        margin: 10px 0;
                        font-size: 1.4rem;
                        font-family: 'Rubik';
                        font-style: normal; 
                        font-weight: 400; 
                    }
                    .swiper-prices{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                    }
                    span{
                        color: #292929;
                        font-family: 'Cardo';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 1.3rem;
            
                        s{
                            font-weight: 400;
                            color: #2F4333;
                        }
                    }

                    
                
            }
            .swiper-pagination{
                padding-bottom: 20px;
                --swiper-theme-color: #2f4333;
            }
            
            .add-link a{
                display: flex;
                align-items: center;
                gap: 8px;
                text-decoration: none;
                color: #2F4333;
                font-family: Rubik;
                font-size: 1rem;
                font-weight: 500;
                margin: 10px 0;
            }
        }
    
}


// media queries

@media screen
 and (min-width:550px)
and (max-width:1024px){
    
    main{

        .container_card .single_container h3 {
           font-size: 1.02rem; 
       }
       .heading-container{
           flex-direction: row;
   
           h2{
               font-size: 1.7rem;
           }
       }
   
       .Heading_icon{
           position: relative;
           display: flex;
           justify-content: center;
           left: 195px;
           top: 0;
           bottom: 0; 
            
       }
       .directions-icon{
           display: flex;
           justify-content: center;
           align-items: center;
           gap: 10px;
       }
       .direction_icons{
           font-size: 35px; 
       }
       .single_container{
           
           span{
               font-size: 1.6rem;
   
               s{
                   font-weight: 400;
                   color: #2F4333;
               }
           }
           .add-link a{ 
               font-size: 1.03rem;
           }
       } 
   
    }

}



@media screen
 and (min-width:1024px)
and (max-width:1600px){

 main{

     .container_card .single_container h3 {
        font-size: 1.2rem; 
    }
    .heading-container{
        flex-direction: row;

        h2{
            font-size: 2rem;
        }
    }

    .Heading_icon{
        position: relative;
        display: flex;
        justify-content: center;
        left: 380px;
        top: 0;
        bottom: 0; 
         
    }
    .directions-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .direction_icons{
        font-size: 35px; 
    }
    .single_container{
        
        span{
            font-size: 1.8rem;

            s{
                font-weight: 400;
                color: #2F4333;
            }
        }
        .add-link a{ 
            font-size: 1.1rem;
        }
    } 

 }
    
    
}

